@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

:root {
  --color-primary: #1dbf73; /* Fiverr's green */
  --color-secondary: #000000; /* Fiverr's gray */
  --color-secondary-gray: #62646a; /* Fiverr's gray */
  --color-background: #ffffff; /* White */
  --color-footer-bg: #0e0e0e; /* Dark background for footer */
  --color-text: #222325; /* Dark text */
  --color-text-light: #ffffff; /* Light text */
  --color-cta: #1dbf73; /* CTA button color */
  --border: #eaeaea; /* Light gray border color */

  --font-primary: "Inter", sans-serif;
}

/* Apply global styles */
* {
  border-color: var(--border); /* Use the CSS variable */
}

/* Apply global styles */
body {
  font-family: var(--font-primary);
  color: var(--color-text);
  background-color: var(--color-background);
  border-color: hsl(var(--border));
}

a {
  text-decoration: none;
}

a:hover {
  color: var(--color-primary);
  text-decoration: none;
}
