@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

:root {
  --color-primary: #1dbf73; /* Fiverr's green */
  --color-secondary: #000000; /* Fiverr's gray */
  --color-secondary-gray: #62646a; /* Fiverr's gray */
  --color-background: #ffffff; /* White */
  --color-footer-bg: #0e0e0e; /* Dark background for footer */
  --color-text: #222325; /* Dark text */
  --color-text-light: #ffffff; /* Light text */
  --color-cta: #1dbf73; /* CTA button color */
  --border: #eaeaea; /* Light gray border color */

  --font-primary: "Inter", sans-serif;
}

/* Apply global styles */
* {
  border-color: var(--border); /* Use the CSS variable */
}

/* Apply global styles */
body {
  font-family: var(--font-primary);
  color: var(--color-text);
  background-color: var(--color-background);
  border-color: hsl(var(--border));
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}



/* Custom scrollbar styles */
.custom-scrollbar {
    overflow-y: auto;
}

.custom-scrollbar::-webkit-scrollbar {
  display: none;
}

.custom-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none;
}

.custom-scrollbar:hover::-webkit-scrollbar {
  display: block;
  width: 6px; 
}

.custom-scrollbar:hover {
  -ms-overflow-style: auto; 
  scrollbar-width: thin; 
}

.custom-scrollbar:hover::-webkit-scrollbar-track {
  background: transparent; 
}

.custom-scrollbar:hover::-webkit-scrollbar-thumb {
  background-color: #a3a3a3; 
  border-radius: 3px;
}

.custom-scrollbar:hover::-webkit-scrollbar-thumb:hover {
  background-color: #717171;
}




/* Style for Blog Details */


